<html>
	<head>
		<title>Math Game in Vue.js</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
		<script src="main.js" defer></script>
	</head>
	<body>
		<div id="app" v-cloak>
			<h1>{{ title }} <br /><small>{{ subtitle }}</small></h1>
			<div class="secondaryText">Enter Your Name to play the game: <input type="text" v-model="name"></div>
			<div class="secondaryText">Plase your bet! How many do you think you will get correct? <input type="number" v-model.number="bet"></div>
			<button type="button" v-on:click="resetGame" :disabled="bet == null || bet <= 0">{{ startGameText }}</button>
			<div v-show="name && bet">
				<div>Hi, {{ name }}!</div>
				
				<div class="primaryText">Score: {{ score }}</div>
				<div class="primaryText" :class="{'text-success': score >= bet, 'text-danger': score < bet}">{{ betResult }}</div>
				<div class="primaryText" v-bind:style="{'color': ((timer > 0 && timer < 6) ? 'red' : 'black')}">Timer: {{ timer }}</div>
				
				<div id="question">{{ questionText }} </div>
				<span v-for="(answer, i) in answers">
					<button type="button" v-on:click="selectAnswer" :disabled="!activeGame">{{ randomCorrectAnswer(i) || answer }}</button>
					<br />
				</span>
				<div class="container">
					<div class="row" v-if="historicalAnswers.length > 0">
						<button type="button" v-on:click="clearResults">Reset Table</button>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<th>Question</th>
								<th>Your Answer</th>
								<th>Result</th>
							</thead>
							<tbody>
								<tr v-for="ans in historicalAnswers.slice().reverse()" v-bind:class="{'table-success': ans.result == 'Correct!'}">
									<td>{{ ans.question }}</td>
									<td>{{ ans.yourAnswer }}</td>
									<td>{{ ans.result }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>